{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Agreementnumber</th>
                <th>Agreementdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{{ path('documents_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                <td>{{ document.agreementNumber }}</td>
                <td>{% if document.agreementDate %}{{ document.agreementDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('documents_show', { 'id': document.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('documents_edit', { 'id': document.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documents_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
