{% extends 'base.html.twig' %}

{% block body %}
    <h1>House list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Vacant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td><a href="{{ path('house_show', { 'id': house.id }) }}">{{ house.id }}</a></td>
                <td>{{ house.name }}</td>
                <td>{% if house.vacant %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('house_show', { 'id': house.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('house_edit', { 'id': house.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('house_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
