<!DOCTYPE html>
<html lang="ua">

    <head>
        {% block stylesheets %}
            {% stylesheets
        '//fonts.googleapis.com/icon?family=Material+Icons'
        '//fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,cyrillic-ext'
        'css/version2/material.min.css'      
        'css/version2/style.css'
        'css/version2/jquery.bxslider.css'
        'css/version2/bootstrap-material-datetimepicker.css'
        '//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css'
        output='css/version2/scmc.css' 
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>

    <body>
        <div class="head_block meetings">
            <div class="menu_button">
                <button class="mdl-button mdl-js-button mdl-button--icon filter_list open_menu_but">
                    <i class="material-icons">menu</i>
                </button>
                <a href="#" class="company_logo">
                    <img src="{{ asset('img/k-s-c-logo-c-m-y-k-white.svg') }}" alt="logo">
                </a>
            </div>
            <div class="head_right_button">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab bg_white btn_small mdl-js-ripple-effect">
                    <i class="material-icons">notifications</i>
                </button>
                <a href="{{path('fos_user_security_logout')}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab bg_white mdl-js-ripple-effect">
                    <i class="material-icons">person</i>
                </a>
            </div>
        </div>
        <div class="sub_header meetings">
            <div class="sub_header_container">
                <span class="title">
                    Перелік слухань
                </span>
                <span class="descr">
                    Перелік слухань
                </span>
                <div class="sub_header_control-btn">
                    <div class="button ">
                        <button id="filter_list_1" class="mdl-button mdl-js-button mdl-button--icon filter_list">
                            <i class="material-icons ">filter_list</i>
                        </button>
                    </div>
                    <div class="button ">
                        <button id="sort_list_1" class="mdl-button mdl-js-button mdl-button--icon filter_list">
                            <i class="material-icons sort"><img src="{{ asset('img/sort_icon.svg')}}"></i>
                        </button>
                    </div>
                    <div class="back_block_fix">

                    </div>
                    <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect click_block" for="sort_list_1">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Всі елемент</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Не опрацьовані</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Заплановані</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Які відбулися</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Завершені</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="button">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" type="search" id="site-search" placeholder="Щось шукаю" />
                                <label class="mdl-textfield__label" for="site-search">Search</label>
                                <i class="material-icons clear_icon">clear</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="meetings_wrap">
            <span class="meetings_wrap_title">Не опрацьовані списки заявок</span>
            <div class="meet_item no_work">
                <div class="meet_item_content">
                    <div class="meet_item_header">
                        <div class="meet_ico">
                        </div>
                        <div class="meet_content">
                            <span class="title">Перелік заявок не опрацьовано</span>
                            <span class="decr">не оброблені</span>
                        </div>
                        <div class="status">Не опрацьовано</div>
                        <div class="devider">
                        </div>
                    </div>
                    <div class="meet_item_container">
                        <span class="meet_item_content-title">
                            Перелік заявок внесених на комісію
                        </span>
                        <div class="meet_item_content-control_but">
                            <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                <i class="material-icons">sort</i>
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                <i class="material-icons">room</i>
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                <i class="material-icons">more_vert</i>
                            </button>
                        </div>
                        <div class="table">
                            <table class="mdl-data-table mdl-js-data-table">
                                <thead>
                                    <tr>
                                        <th>Назва</th>
                                        <th>Адреса</th>
                                        <th>Площа</th>
                                        <th>Вартість</th>

                                        <th>Орендар</th>
                                        
                                        <th>Опубліковано</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for doc in notwork %} 
                                        <tr>
                                            <td style="max-width:207px;">{{ doc.kmdaobject.objectname}}</td>
                                            <td style="max-width:319px;">
                                                <span id="ta21{{loop.index}}">{{ doc.kmdaobject.addrstreet}} {{ doc.kmdaobject.addrnumber}}</span>
                                                <div for="ta21{{loop.index}}" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_adr">
                                                    <img src="/img/example_3.png" alt="">
                                                    <div>{{ doc.kmdaobject.objectname}}. Площею {{ doc.kmdaobject.sqrtotal}} кв.м., р-н {{ doc.kmdaobject.district.name }}, вул. {{ doc.kmdaobject.Addrstreet}}, {{ doc.kmdaobject.Addrnumber}}. 
                                                        <p>{{ doc.kmdaobject.buildingKind.name }}
                                                        {% for purpose in doc.kmdaobject.purpose %}
                                                            {{ purpose.title }}
                                                            {% endfor %}
                                                        </p></div>
                                                </div>
                                            </td>
                                            <td style="max-width:189px;">{{ doc.kmdaobject.sqrtotal}}</td>
                                            <td style="max-width:187px;">{{ doc.kmdaobject.costbalans}}</td>

                                            <td style="max-width:224px;"><span id="orendar{{loop.index}}">{{ doc.organization }}
                                                     <div for="orendar{{loop.index}}" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_tov">
                                                    <div>{{ doc.organization }} ЄДРПУО {{ doc.edrpouOrganization }}</div>
                                                </div>
                                            </td>
                                            <td style="max-width:477px;">
                                                {{ doc.updated|date("d/m/Y h:m") }}
                                            </td>
                                        </tr>
                                    {% endfor %}

                            </table>
                        </div>
                    </div>
                    <div class="meet_item_footer">
                        <div class="control_bttons">
                            <a href="{{ path('orendaresh_new') }}" class=" mdl-button mdl-js-button mdl-js-ripple-effect btn-add">СТВОРИТИ СЛУХАННЯ</a>
                            <div class="control_i">
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                    <i class="material-icons">share</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn marg10">
                                    <i class="material-icons">file_download</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                    <i class="material-icons">print</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                          {#  {{ dump(new[0].orendadoc[0]) }}#}
            <span class="meetings_wrap_title">Нові слухання</span>
            {% for meeting in new %}
                <div class="meet_item done">
                    <div class="meet_item_content">
                        <div class="meet_item_header">
                            <div class="meet_ico">
                            </div>
                            <div class="meet_content">
                                <span class="title">{{ meeting.title }}</span>
                                <span class="decr"></span>
                            </div>
                            <div class="status">Опубліковано - {{ meeting.created|date("d/m/Y h:m") }}</div>
                            <div class="devider">
                            </div>
                        </div>
                        <div class="meet_item_container">
                            <span class="meet_item_content-title">
                                Перелік заявок внесених на комісію
                            </span>
                            <div class="meet_item_content-control_but">
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">sort</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">room</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">more_vert</i>
                                </button>
                            </div>
                            
                        <div class="table">
                            <table class="mdl-data-table mdl-js-data-table">
                                <thead>
                                    <tr>
                                        <th>Назва</th>
                                        <th>Адреса</th>
                                        <th>Площа</th>
                                        <th>Вартість</th>

                                        <th>Орендар</th>
                                        
                                        <th>Опубліковано</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for doc in meeting.orendadoc %} 
                                        <tr>
                                            <td style="max-width:207px;">{{ doc.kmdaobject.objectname}}</td>
                                            <td style="max-width:319px;">
                                                <span id="nta21{{loop.index}}">{{ doc.kmdaobject.addrstreet}} {{ doc.kmdaobject.addrnumber}}</span>
                                                <div for="nta21{{loop.index}}" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_adr">
                                                    <img src="/img/example_3.png" alt="">
                                                    <div>{{ doc.kmdaobject.objectname}}. Площею {{ doc.kmdaobject.sqrtotal}} кв.м., вул. {{ doc.kmdaobject.Addrstreet}}, {{ doc.kmdaobject.Addrnumber}}. <p>{{ doc.note }}</p></div>
                                                </div>
                                            </td>
                                            <td style="max-width:189px;">{{ doc.kmdaobject.sqrtotal}}</td>
                                            <td style="max-width:187px;">{{ doc.kmdaobject.costbalans}}</td>

                                            <td style="max-width:224px;"><span id="norendar{{loop.index}}">{{ doc.organization }}
                                                     <div for="norendar{{loop.index}}" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_tov">
                                                    <div>{{ doc.organization }} ЄДРПУО {{ doc.edrpouOrganization }}</div>
                                                </div>
                                            </td>
                                            <td style="max-width:477px;">
                                                {{ doc.updated|date("d/m/Y h:m") }}
                                            </td>
                                        </tr>
                                    {% endfor %}

                            </table>
                        </div>
                        </div>
                        <div class="meet_item_footer">
                            <div class="control_bttons">
                                <a href="{{ path('orendaresh_edit',{'id':meeting.id}) }}" class=" mdl-button mdl-js-button mdl-js-ripple-effect btn-add">редагувати</a>
                                <div class="control_i">
                                    <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                        <i class="material-icons">share</i>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn marg10">
                                        <i class="material-icons">file_download</i>
                                    </button>
                                    <a href="{{ path('orendaresh_pdf',{ 'id': meeting.id }) }}" class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                        <i class="material-icons">print</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <span class="meetings_wrap_title">Заплановані слухання</span>
            {% for meeting in open %}
                <div class="meet_item planing">
                    <div class="meet_item_content">
                        <div class="meet_item_header">
                            <div class="meet_ico">
                            </div>
                            <div class="meet_content">
                                <span class="title">{{ meeting.title }}</span>
                                <span class="decr">Комісія запланована на {{ meeting.expected|date("m/d/Y h:m") }}</span>
                            </div>
                            <div class="status">Опубліковано - </div>
                            <div class="devider">
                            </div>
                        </div>
                        <div class="meet_item_container">
                            <span class="meet_item_content-title">
                                Перелік заявок внесених на комісію
                            </span>
                            <div class="meet_item_content-control_but">
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">sort</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">room</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">more_vert</i>
                                </button>
                            </div>
                            <div class="table">
                                <div class="table">
                                    <table class="mdl-data-table mdl-js-data-table">
                                        <thead>
                                            <tr>
                                                <th>Назва</th>
                                                <th>Адреса</th>
                                                <th>Площа</th>
                                                <th>Вартість</th>

                                                <th>Ріш. комісії</th>
                                                <th>Висновок комісії</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for doc in meeting.orendadoc %}
                                                <tr>
                                                    <td style="max-width:207px;">{{ doc.kmdaobject.objectname }}</td>
                                                    <td style="max-width:319px;">
                                                        <span id="ta41">{{ doc.kmdaobject.addrstreet}} {{ doc.kmdaobject.addrnumber}}</span>
                                                        <div for="ta41" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_adr">
                                                            <img src="/img/example_3.png" alt="">
                                                            <div>Церква київського патріархату.Площею 109,07 кв.м. 40143, м. Київ, Шевчерківський район, вул. Бульварно-Кудрявська, 45/143.</div>
                                                        </div>
                                                    </td>
                                                    <td style="max-width:189px;">{{ doc.kmdaobject.sqrtotal}}</td>
                                                    <td style="max-width:187px;">{{ doc.kmdaobject.costbalans}}</td>

                                                    <td style="max-width:224px;"></td>
                                                    <td style="max-width:477px;">
                                                        <span id="m_prim1"></span>
                                                        <div for="m_prim1" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_prim">
                                                            <div>Щось пішло не так мабудь не обрали потрібну ціну для передачі в аренду даний об’єкт, щось отримати дуже велику вигоду для нашого міста, та підняти досягнення на новий рівень самобутності</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="meet_item_footer">
                            <div class="control_bttons">
                                <a href="{{ path('orendareshsecretary_edit',{'id':meeting.id}) }}" class=" mdl-button mdl-js-button mdl-js-ripple-effect btn-add">ДОДАТИ ВИСНОВКИ</a>
                                <div class="control_i">
                                    <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                        <i class="material-icons">share</i>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn marg10">
                                        <i class="material-icons">file_download</i>
                                    </button>
                                    <a href="{{ path('orendaresh_pdf',{ 'id': meeting.id }) }}" class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                        <i class="material-icons">print</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <span class="meetings_wrap_title">Слухання які відбулися</span>
            {% for meeting in close %}
                <div class="meet_item ended">
                    <div class="meet_item_content">
                        <div class="meet_item_header">
                            <div class="meet_ico">
                            </div>
                            <div class="meet_content">
                                <span class="title">{{ meeting.title }}</span>
                                <span class="decr">Комісія відбулася {{ meeting.closed|date("d/m/Y h:m") }}</span>
                            </div>
                            <div class="status">Опубліковано - </div>
                            <div class="devider">
                            </div>
                        </div>
                        <div class="meet_item_container">
                            <span class="meet_item_content-title">
                                Перелік заявок внесених на комісію
                            </span>
                            <div class="meet_item_content-control_but">
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">sort</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">room</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon filter_list">
                                    <i class="material-icons">more_vert</i>
                                </button>
                            </div>
                            <div class="table">
                                <div class="table">
                                    <table class="mdl-data-table mdl-js-data-table">
                                        <thead>
                                            <tr>
                                                <th>Назва</th>
                                                <th>Адреса</th>
                                                <th>Площа</th>
                                                <th>Вартість</th>

                                                <th>Ріш. комісії</th>
                                                <th>Висновок комісії</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for doc in meeting.orendadoc %}
                                                <tr>
                                                    <td style="max-width:207px;">{{ doc.kmdaobject.objectname }}</td>
                                                    <td style="max-width:319px;">
                                                        <span id="ta41">{{ doc.kmdaobject.addrstreet}} {{ doc.kmdaobject.addrnumber}}</span>
                                                        <div for="ta41" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_adr">
                                                            <img src="/img/example_3.png" alt="">
                                                            <div>Церква київського патріархату.Площею 109,07 кв.м. 40143, м. Київ, Шевчерківський район, вул. Бульварно-Кудрявська, 45/143.</div>
                                                        </div>
                                                    </td>
                                                    <td style="max-width:189px;">{{ doc.kmdaobject.sqrtotal}}</td>
                                                    <td style="max-width:187px;">{{ doc.kmdaobject.costbalans}}</td>

                                                    <td style="max-width:224px;">{{ doc.note2 }}</td>
                                                    <td style="max-width:477px;">
                                                        {% if doc.solution == 1 %}
                                                            Погоджено
                                                        {% endif %}  

                                                        {% if doc.solution==2 %}
                                                            Погоджено с зауваженнями
                                                        {% endif %}
                                                        {% if doc.solution==3 %}
                                                            Вiдхилено
                                                        {% endif %}
                                                        {% if doc.solution==4 %}
                                                            Перенеcено
                                                        {% endif %}
                                                        {% if doc.solution==5 %}
                                                            Не набрало кiлькостi голосiв
                                                        {% endif %}
                                                        <span id="m_prim1"></span>
                                                        <div for="m_prim1" class="mdl-tooltip mdl-tooltip_style mdl-tooltip--top mctooltip mctooltip_prim">
                                                            <div>Щось пішло не так мабудь не обрали потрібну ціну для передачі в аренду даний об’єкт, щось отримати дуже велику вигоду для нашого міста, та підняти досягнення на новий рівень самобутності</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="meet_item_footer">
                            <div class="control_bttons">
                                <button class=" mdl-button mdl-js-button mdl-js-ripple-effect btn-add">ПЕРЕГЛЯНУТИ</button>
                                <div class="control_i">
                                    <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                        <i class="material-icons">share</i>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn marg10">
                                        <i class="material-icons">file_download</i>
                                    </button>
                                    <a href="{{ path('orendaresh_pdf',{ 'id': meeting.id }) }}" class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                                        <i class="material-icons">print</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
        <div class="left_menu ">
            <div class="left_menu_head">
                <a href="#" class="company_logo">
                    <img src="/img/k-s-c-logo-c-m-y-k-bw.svg" alt="logo">
                </a>
                <button class="mdl-button mdl-js-button mdl-button--icon filter_list open_menu_but">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
            </div>
            <div class="left_menu_obr">
                <div class="left_menu_body">
                    <ul class="left_menu_items">
                        <li>
                            <span>Перелік слухань</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        {% block javascripts %}    
            {% javascripts    
    'js/version2/jquery-3.1.1.min.js'
    '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'
    'js/version2/material.min.js'
    'js/version2/getmdl-select.min.js'
    'js/version2/jquery.bxslider.min.js'
    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    '//momentjs.com/downloads/moment-with-locales.min.js'
    'js/version2/bootstrap-material-datetimepicker.js'
    '//code.jquery.com/ui/1.12.1/jquery-ui.min.js'
    'js/jquery.collection.js'
    'js/version2/main.js'
    output='js/version2/scmc.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}  
        {% endblock %}  
    </body>

</html>
